@charset "UTF-8";
.body {
  margin: 0px;
  background-color: #000000;
}

.header {
  width: 100%;
  height: 965px;
  position: relative;
  z-index: 17;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, #000000 100%);
}

.Main_men_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.black_width {
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.7529411765);
  position: relative;
  z-index: 13;
}

.container {
  width: 1300px;
  margin: 0px auto;
  height: 850px;
}

.nav {
  position: relative;
  z-index: 15;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #a92a1d;
  margin-right: 37px;
}

.Gym_span {
  color: #fff;
}

.block_time {
  width: 262px;
  height: 32px;
  display: flex;
  align-items: center;
}

.img_time {
  margin-right: 13px;
  width: 20px;
  height: 20px;
}

.Mon_p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #fff;
  opacity: 0.75;
}

.ul_main {
  list-style: none;
  display: flex;
}

.li_Traning {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #fff;
  cursor: pointer;
  margin-right: 63px;
}

.Lifestyle {
  margin-right: 40px;
}

.Contact_btn {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #fff;
  width: 111px;
  height: 50px;
  background: #a92a1d;
  cursor: pointer;
}

.block_time_logo {
  display: flex;
  align-items: center;
}

.block_ul_btn {
  display: flex;
  align-items: center;
}

.block_h1 {
  width: 460px;
  height: 303px;
  margin-left: 149px;
  margin-top: 214px;
}

.h1_builders {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 0px;
  margin-bottom: 34px;
}

.h1_builders > span {
  color: #a92a1d;
}

.Get_Started {
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.05em;
  color: #fff;
  width: 150px;
  height: 50px;
  background: #a92a1d;
}

.block_img_colomт {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 14;
  right: 50px;
  top: 340px;
}

.img_Facebook {
  cursor: pointer;
  width: 11px;
  height: 21px;
  margin-bottom: 48px;
}

.img_icon {
  cursor: pointer;
  width: 26px;
  height: 21px;
  margin-bottom: 48px;
}

.img_instogra {
  cursor: pointer;
  width: 26px;
  height: 21px;
}

.container_section {
  display: flex;
  width: 1300px;
  margin: 0px auto;
  height: 486px;
  justify-content: center;
}

.section {
  width: 100%;
  height: 1276px;
}

.block_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 165px;
  width: 790px;
  height: 213px;
}

.block_section > h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 29px;
  height: 59px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.75);
}

.block_section > p {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 51px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.05em;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.img_line_orange {
  width: 163px;
  height: 24px;
}

.swiper {
  width: 100%;
  height: 671px;
  top: 50px;
}

.img_Slaid {
  cursor: pointer;
  width: 320px;
  height: 601px;
  filter: grayscale(100%);
}

.img_Slaid:hover {
  filter: grayscale(0%);
}

.img_Slaid2 {
  cursor: pointer;
  position: relative;
  top: 70px;
  width: 320px;
  height: 601px;
  filter: grayscale(100%);
}

.img_Slaid2:hover {
  filter: grayscale(0%);
}

.block_img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.h3_ultimate {
  margin-top: 0px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.75);
}

.section_two {
  margin-top: 116px;
  height: 1250px;
}

.container_section_two {
  display: flex;
  width: 1300px;
  margin: 0px auto;
  height: 386px;
  justify-content: space-between;
  align-items: flex-start;
}

.block_p_line > p {
  margin-top: 0px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.75);
}

.block_p_line {
  display: flex;
  align-items: center;
  width: 699px;
}

.line_img {
  margin-right: -14px;
  margin-top: -2px;
  transform: rotate(90deg);
  border: 2px solid #e74c3c;
  width: 60px;
  height: 0px;
}

.block_h3 {
  width: 500px;
}

.block_bootom_section_two {
  width: 100%;
  display: flex;
  align-items: center;
}

.men_img {
  width: 805px;
  height: 744px;
}

.Personal_training {
  width: 496px;
  height: 245px;
  margin-left: 82px;
  padding-right: 25px;
}

.Personal_training > h3 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.75);
}

.Personal_training > h4 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.Personal_training > p {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.75);
}

.section_slaider_Two {
  width: 100%;
  height: 760px;
}

.swiper_Two {
  width: 100%;
  height: 760px;
}

.men_ked_one {
  width: 500px;
  height: 503px;
  margin-top: 135px;
  margin-right: 48px;
}

.men_ked_two {
  width: 500px;
  height: 492px;
}

.men_ked_one_margin {
  margin-left: 48px;
  margin-right: 0px;
}

.block_img_heigth {
  height: 1064px;
}

.Welcome_RGym {
  display: flex;
  margin-top: 39px;
  width: 388px;
  height: 150px;
  justify-content: center;
  flex-direction: column;
}

.Welcome_RGym_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Welcome_RGym > h4 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.Welcome_RGym > h4 > span {
  color: #e74c3c;
}

.Welcome_RGym > p {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.05em;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.section_footer {
  position: relative;
  width: 100%;
  height: 900px;
}

.met_footer {
  width: 100%;
  height: 1042px;
  object-fit: cover;
  position: relative;
}

.block_Subscribe {
  z-index: 9;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 616px;
  height: 360px;
}

.block_Subscribe > h4 {
  width: 100%;
  line-height: 100%;
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.block_Subscribe > p {
  width: 100%;
  margin-bottom: 38px;
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.05em;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.Email_input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.05em;
  color: #fff;
  border: 1px solid #fff;
  width: 375px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 25px;
  margin-bottom: 16px;
  outline: none;
}

.block_Subscribe {
  top: 400px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.05em;
  color: #000;
}

.block_Subscribe > button {
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
  width: 402px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.05em;
  color: #000;
}

.container_footer {
  display: flex;
  width: 1300px;
  margin: 0px auto;
  height: 850px;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 562px;
}

.footer_block_one {
  width: 379px;
  height: 167px;
}

.footer_block_one > h4 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #e74c3c;
}

.footer_block_one > h4 > span {
  color: rgba(255, 255, 255, 0.75);
}

.footer_block_one > p {
  width: 100%;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.75);
}

.block_info {
  margin-top: 71px;
  width: 182px;
  height: 234px;
}

.block_info > h4 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.75);
}

.ul_footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.Ul_li {
  width: 100%;
  margin-bottom: 21px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: rgba(255, 255, 255, 0.75);
}

.block_follower {
  width: 160px;
  height: 127px;
  margin-bottom: 41px;
}

.block_follower > h4 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.75);
}

.img_f_T_I {
  cursor: pointer;
  width: 43px;
  margin-right: 5px;
}

.RGym_h5 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 100px;
}

.span_R {
  color: #e74c3c;
}

.block_copy {
  display: none;
}

.block_flex {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}/*# sourceMappingURL=index.css.map */