@charset "UTF-8";
@media (max-width: 1500px) {
  .block_img {
    justify-content: normal;
  }
}
@media (max-width: 1400px) {
  .block_p_line {
    height: 75px;
    width: 499px;
  }
  .h3_ultimate {
    font-size: 25px;
  }
  .container_section_two {
    width: 1000px;
    height: 185px;
    margin-bottom: 100px;
  }
  .header {
    height: 750px;
  }
  .container {
    height: 750px;
  }
  .block_ul_btn {
    padding-right: 25px;
  }
  .block_time_logo {
    padding-left: 25px;
  }
  .Personal_training > h3 {
    font-size: 25px;
  }
  .Personal_training > h4 {
    font-size: 16px;
  }
  .Personal_training > p {
    font-size: 15px;
  }
}
@media (max-width: 1321px) {
  .container_section {
    width: 800px;
  }
}
@media (max-width: 1300px) {
  .men_img {
    width: 705px;
    height: 644px;
  }
  .line_img {
    width: 60px;
    margin-top: -11px;
  }
  .h3_ultimate {
    font-size: 25px;
  }
  .container {
    width: 1200px;
  }
  .li_Traning {
    margin-right: 40px;
  }
}
@media (max-width: 1200px) {
  .men_img {
    width: 605px;
    height: 544px;
  }
  .block_ul_btn {
    display: none;
  }
  .container {
    width: 1000px;
  }
}
@media (max-width: 1100px) {
  .men_img {
    width: 605px;
    height: 544px;
  }
  .container_section_two {
    width: 800px;
  }
  .block_p_line > p {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .men_img {
    width: 505px;
    height: 444px;
  }
  .section_two {
    margin-top: 0px;
  }
  .swiper {
    height: 571px;
  }
  .img_Slaid {
    width: 280px;
    height: 480px;
  }
  .img_Slaid2 {
    width: 280px;
    height: 480px;
  }
  .container_section {
    width: 600px;
  }
  .block_section {
    width: 100%;
  }
  .block_section > h3 {
    font-size: 35px;
  }
  .block_h1 {
    margin-top: 170px;
  }
  .block_img_colomт {
    top: 280px;
  }
  .h1_builders {
    font-size: 35px;
    width: 100%;
  }
  .header {
    height: 650px;
  }
  .container {
    width: 900px;
    height: 650px;
  }
}
@media (max-width: 900px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 850px) {
  .Personal_training {
    margin-top: 82px;
    padding-left: 25px;
    margin-left: 29px;
  }
  .block_bootom_section_two {
    align-items: flex-start;
    flex-direction: column;
  }
  .container_section_two {
    width: 700px;
  }
}
@media (max-width: 800px) {
  .block_img_colomт {
    top: 220px;
  }
  .block_h1 {
    margin-top: 100px;
  }
  .header {
    height: 550px;
  }
  .logo {
    font-size: 28px;
  }
  .Mon_p {
    font-size: 14px;
  }
  .container {
    width: 700px;
    height: 550px;
  }
}
@media (max-width: 750px) {
  .container_section_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
  }
  .h3_ultimate {
    font-size: 21px;
  }
  .block_h3 {
    padding-left: 25px;
  }
}
@media (max-width: 700px) {
  .block_h1 {
    margin-left: 90px;
  }
  .header {
    height: 500px;
  }
  .block_time {
    display: none;
  }
  .container {
    width: 600px;
    height: 500px;
  }
}
@media (max-width: 650px) {
  .Personal_training > h3 {
    font-size: 21px;
  }
  .Personal_training {
    margin-left: 0px;
  }
  .h3_ultimate {
    width: 100%;
  }
  .container_section_two {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 620px) {
  .section {
    height: 1200px;
  }
  .block_h3 {
    width: 350px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .h3_ultimate {
    width: 100%;
  }
  .block_p_line {
    width: 100%;
  }
  .container_section {
    width: 500px;
  }
  .img_Slaid {
    width: 250px;
    height: 400px;
  }
  .img_Slaid2 {
    width: 250px;
    height: 400px;
  }
}
@media (max-width: 600px) {
  .men_img {
    width: 405px;
    height: 344px;
  }
  .Personal_training {
    width: 396px;
  }
  .block_section > p {
    font-size: 15px;
  }
  .block_section > h3 {
    font-size: 29px;
    margin-bottom: 0px;
  }
  .container_section {
    width: 400px;
  }
  .block_h1 {
    width: 300px;
  }
  .block_time_logo {
    padding-left: 5px;
  }
  .container {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 550px) {
  .container_section_two {
    width: 100%;
  }
  .block_p_line {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .h3_ultimate {
    font-size: 19px;
  }
  .block_h3 {
    width: 290px;
  }
  .block_img_colomт {
    top: 210px;
    right: 20px;
  }
  .container {
    height: 500px;
  }
  .block_h1 {
    width: 200px;
    height: 0px;
  }
  .h1_builders {
    font-size: 25px;
  }
  .block_h1 {
    margin-left: 50px;
  }
  .container {
    width: 400px;
  }
}
@media (max-width: 470px) {
  .Personal_training {
    width: 290px;
    padding-right: 0px;
  }
  .men_img {
    width: 350px;
  }
}
@media (max-width: 450px) {
  .section {
    height: 950px;
  }
  .block_section {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
  }
  .block_section > h3 {
    font-size: 19px;
    height: 41px;
  }
  .block_section > p {
    margin-bottom: 25px;
  }
  .container_section {
    width: 100%;
    height: 310px;
  }
}
@media (max-width: 400px) {
  .men_img {
    width: 310px;
    height: 304px;
  }
  .container {
    width: 300px;
  }
}
@media (max-width: 330px) {
  .Personal_training {
    width: 270px;
  }
  .men_img {
    width: 100%;
    height: 280px;
  }
  .block_h3 {
    width: 250px;
  }
}
@media (max-width: 300px) {
  .container {
    width: 200px;
  }
}/*# sourceMappingURL=media.css.map */