@media ( max-width: 1400px )
    .header
        height: 750px

    .container
        height: 750px

    .block_ul_btn
        padding-right: 25px

    .block_time_logo
        padding-left: 25px

@media ( max-width: 1300px )

    .container
        width: 1200px

    .li_Traning
        margin-right: 40px

@media ( max-width: 1200px )
    .block_ul_btn
        display: none

    .container
        width: 1000px

@media ( max-width: 1000px )
    .header
        height: 650px

    .container
        width: 900px
        height: 650px

@media ( max-width: 900px )
    .container
        width: 800px

@media ( max-width: 800px )
    .header
        height: 550px

    .logo
        font-size: 28px

    .Mon_p
        font-size: 14px

    .container
        width: 700px
        height: 550px

@media ( max-width: 700px )
    .header
        height: 500px
    .block_time
        display: none

    .container
        width: 600px
        height: 500px

@media ( max-width: 600px )
    .block_time_logo
        padding-left: 5px

    .container
        width: 500px
        height: 650px

@media ( max-width: 500px )
    .container
        width: 400px

@media ( max-width: 400px )
    .container
        width: 300px

@media ( max-width: 300px )
    .container
        width: 200px
